@model IEnumerable<CineMaster.Models.Entrada>

@{
    ViewBag.Title = "Index";
}
<div style="
    background: white;
    opacity: 0.8;
    box-shadow: 1px 1px 10px black;
    padding: 5px;
    margin:5%;
">

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Entrada_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Entrada_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Entrada_ID })
            </td>
        </tr>
        }

    </table>
</div>